pipeline/Extraccion.json
{
	"name": "Extraccion",
	"properties": {
		"activities": [
			{
				"name": "VendedoresParquet",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Tabla_Vendedores",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "vendedores_parquet",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "ClientesParquet",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "VendedoresParquet",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Tabla_Clientes",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "clientes_parquet",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "LocalidadesParquet",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ClientesParquet",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Tabla_Localidades",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "localidades_parquet",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "VentasParquet",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LocalidadesParquet",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM Ventas    \nWHERE fecha BETWEEN '@{pipeline().parameters.FechaDesde}' AND '@{pipeline().parameters.FechaHasta}'\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Tabla_Ventas",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ventas_parquet",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "ErrorExtraccion",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "VendedoresParquet",
						"dependencyConditions": [
							"Failed"
						]
					},
					{
						"activity": "ClientesParquet",
						"dependencyConditions": [
							"Failed"
						]
					},
					{
						"activity": "LocalidadesParquet",
						"dependencyConditions": [
							"Failed"
						]
					},
					{
						"activity": "VentasParquet",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": "Error en la etapa de extracción",
					"errorCode": "3"
				}
			}
		],
		"parameters": {
			"fechaDesde": {
				"type": "string",
				"defaultValue": "@item().fecha_desde_procesada"
			},
			"fechaHasta": {
				"type": "string",
				"defaultValue": "@item().fecha_hasta_procesada"
			}
		},
		"annotations": []
	}
}