pipeline/Orquestador.json
{
	"name": "Orquestador",
	"properties": {
		"activities": [
			{
				"name": "EstadosUnoASeis",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSQL_Ventas_Service",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "UPDATE [dbo].[DW_PROCESOS] \nSET estado = 6, \nWHERE estado = 1 AND modulo = 'Ventas'"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "EstadosUnoASeis",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@or(equals(pipeline().parameters.proceso_nuevo, '1'),equals(pipeline().TriggerType, 'Scheduler'))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "UltimaFechaHasta",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "SELECT TOP 1 fecha_hasta_procesada\nFROM DW_PROCESOS\nWHERE estado = 2 AND modulo = 'Ventas'\nORDER BY id_proceso DESC",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DW_Procesos",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "CrearProcesoNuevo",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "UltimaFechaHasta",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "AzureSQL_Ventas_Service",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"parameters": [
											{
												"name": "FechaDesde",
												"type": "Datetime",
												"value": {
													"value": "@if(contains(activity('UltimaFechaHasta').output,'firstRow'),activity('UltimaFechaHasta').output.firstRow,'1900-01-01T00:00:00')",
													"type": "Expression"
												},
												"direction": "Output"
											},
											{
												"name": "FechaHasta",
												"type": "Datetime",
												"value": {
													"value": "@coalesce(pipeline().parameters.FechaFin,utcNow())",
													"type": "Expression"
												},
												"direction": "Output"
											},
											{
												"name": "Direccion",
												"type": "String",
												"value": "",
												"direction": "Input"
											}
										],
										"type": "Query",
										"text": "INSERT INTO [dbo].[DW_Procesos] \nVALUES('Ventas', @fechaDesde,@fechaHasta, NULL, NULL, 0)"
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			},
			{
				"name": "ProcesosActuales",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT \n       [id_proceso]\n      ,[modulo]\n      ,[fecha_desde_procesada]\n      ,[fecha_hasta_procesada]\n      ,[fecha_inicio_ejecucion]\n      ,[fecha_fin_ejecucion]\n      ,[estado]\nFROM [dbo].[DW_PROCESOS]\nWHERE [modulo] = 'Ventas' AND [estado] = 0\nORDER BY [id_proceso]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DW_Procesos",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachProceso",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ProcesosActuales",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ProcesosActuales').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "SetProcesoActual",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "id_proceso_actual",
								"value": {
									"value": "@item().id_proceso",
									"type": "Expression"
								}
							}
						},
						{
							"name": "ActualizarAUno",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "SetProcesoActual",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "AzureSQL_Ventas_Service",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"parameters": [
											{
												"name": "procesoActual",
												"type": "Int16",
												"value": {
													"value": "@variables('id_proceso_actual')",
													"type": "Expression"
												},
												"direction": "Input"
											}
										],
										"type": "Query",
										"text": "UPDATE [dbo].[DW_Procesos] \nSET estado = 1, fecha_inicio_ejecucion = getdate(), fecha_fin_ejecucion = null\nWHERE id_proceso = @procesoActual"
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "PL_Extraccion",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "ActualizarAUno",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Extraccion",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						},
						{
							"name": "ErrorExtraccion",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "PL_Extraccion",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "AzureSQL_Ventas_Service",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": "UPDATE DW_PROCESOS SET estado=3, fecha_fin_ejecucion = getdate()\nWHERE id_proceso= @procesoActual"
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"FechaInicio": {
				"type": "string"
			},
			"FechaFin": {
				"type": "string"
			},
			"proceso_nuevo": {
				"type": "string"
			}
		},
		"variables": {
			"fecha_desde": {
				"type": "String"
			},
			"fecha_hasta": {
				"type": "String"
			}
		},
		"annotations": []
	}
}